selenium
webdriver_manager
pandas
sqlalchemy
psycopg2-binary
langdetect
fastapi
python-dotenv
transformers   
transformers[sentencepiece]
accelerate
datasets
ipywidgets
scikit-learn
sentencepiece
tokenizers