selenium
webdriver_manager
pandas
sqlalchemy
psycopg2
langdetect
fastapi
python-dotenv
transformers 
datasets 
tokenizers
datasets 
transformers[sentencepiece]
git+https://github.com/huggingface/peft
git+https://github.com/huggingface/accelerate
accelerate
datasets
scikit-learn
sentencepiece
tokenizers